<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>MY WATCHLIST</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../../lib/ag-grid/ag-grid-community.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../../assets/css/applications/grid.css">
    <link rel="stylesheet" href="../../assets/css/applications/common.css">
    <link rel="stylesheet" href="../../assets/css/applications/loader.css">
    <link rel="stylesheet" href="./watchlist.css">
</head>
<body>
    <div class="loader" id="loader"></div>
    <div class="main-wrapper mt-20" id="main-container" style="display: none;">
        <div class="mb-15 d-flex">
            <div>
                <div id="add-symbol-container">
                    <input type="text" class="h18" placeholder="Add Symbol(s)" tabIndex="-1" id="filter-symbol" />
                    <button class="btn-second" id="add-symbol-btn">ADD</button>
                    <div class="filter-dropdown" id="filter-dropdown"></div>
                </div>
                <button id="add-group-button" class="btn-prime">ADD GROUP</button>
            </div>
            <div id="stock-filter">
                <span class="filter-icon"></span><input type="text" class="h18" id="grid-external-filter" />
            </div>
        </div>
        <div id="myGrid" style="height:220px" class="ag-theme-balham"></div>
        <button id="send-to-fx">Click</button>
    </div>
    <!-- <script type="module" src="stock-grid.js"></script> -->
    <script>document.write("<script type='module' src='stock-grid.js?v='" + Date.now() + "'><\/script>");</script>
    <script type="module" src="../../js/util.js"></script>
    <script type="module" src="../../js/configuration.js"></script>
    <script type="module" src="../../js/messaging.js"></script>
    <script type="module" src="../../js/constants.js"></script>
</body>
</html>