.forex-tile {
    background-color: #25262A;
    margin-bottom: 10px;
    margin-right: 10px;
    color: #ffffff;
    padding: 15px;
    max-width: 375px;
    display: inline-block;
}

.currency-wrapper {
    display: flex;
}

.currency-wrapper .date{
    margin-left: auto;
    order: 2;
    color: #97989A;
}

.currency-chart-wrapper {
    display: flex;
}

.currency-chart {
    width: 240px;
}

.price-container {
    margin: 20px 0 0 15px;
}

.price-wrapper {
    display: flex;
    margin-bottom: 25px;
}

.price-wrapper:last-of-type {
    margin-bottom: 0;
}

.sell-buy{
    width: 29px;
    text-align: center;
    font-size: 12px;
    color: #d8d9d9;
}

.sell-buy .label {
    color: #9fa0a2;
}

.price {
    font-size: 42px;
    line-height: 32px;
}

.up-down-indicator {
    padding: 0 15px 0 10px;
    display: flex;
}

.up-down-indicator span {
    align-self: center;
    position: relative;
}

.up-down-indicator span.down::after, 
.up-down-indicator span.up::after {
    content: '';
    position: absolute;
    left: 1px;
    top: 22px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #ee5858;
    clear: both;
}

.up-down-indicator span.up::after {
    top: -10px;
    border-top: 0;
    border-bottom: 7px solid #23a457;
}

.currency-value {
    margin-top: 15px;
    color: #d8d9d9;
}

.currency-value .label {
    color: #9fa0a2;
    width: 50px;
    display: inline-block;
}

.button-add-fx {
    background-image: url('../../assets/add_icon.svg');
    background-size: 20px;
    width: 32px;
    background-repeat: no-repeat;
    margin-left: auto;
    -webkit-app-region: no-drag;
    vertical-align: middle;
    background-position: center;
    cursor: pointer;
    position: relative;
}

#currency-selector {
    position: absolute;
    right: 100%;
    border: 1px #ffffff solid;
    background-color: #2F3338;
    color: #fff;
    z-index: 10;
}

#currency-selector li {
    padding: 5px 10px;
}

#currency-selector li:hover {
    background-color: #00a8f3;
}

nav {
    display: flex;
}

.nav-tabs {
    border: 0;
    position: relative;
    clear: both;
    margin: 0;
    width: 90%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    display: block;
}

.nav-tabs::-webkit-scrollbar {
    display: none;
}

.nav-link {
    padding: .5rem 0.75rem;
    display: inline-block;
    vertical-align: top;
}

.nav-tabs .nav-link {
    background-color: transparent !important;
    border: 0;
    color: #a3a5a8;
}

.nav-tabs .nav-link.active {
    color: #ffffff;
}