<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>LIVE RATES</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../../lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/applications/common.css">
    <link rel="stylesheet" href="forex.css">
    <script src="../../lib/jquery.min.js"></script>
    <script src="../../lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../../lib/axios.min.js"></script>
</head>
<body>
    <div class="loader" id="loader"></div>
    <div id="main-container" class="container-fluid main-wrapper">
        <div class="row stock-details">
            <div class="col-12">
                <div class="forex-tile">
                    <div class="currency-wrapper">
                        <span class="currency">EUR/USD</span>
                        <span class="date">SPT(28May)</span>
                    </div>
                    <div class="currency-chart-wrapper">
                        <div class="currency-chart"></div>
                        <div class="price-container">
                            <div class="price-wrapper">
                                <div class="sell-buy">
                                    <span class="label">SELL</span>
                                    <span>1.07</span>
                                </div>
                                <div class="price">96</div>
                            </div>
                            <div class="price-wrapper">
                                <div class="sell-buy">
                                    <span class="label">BUY</span>
                                    <span>1.07</span>
                                </div>
                                <div class="price">96</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="forex-tile">
                    <div class="currency-wrapper">
                        <span class="currency">USD/JPY</span>
                        <span class="date">SPT(28May)</span>
                    </div>
                    <div class="currency-chart-wrapper">
                        <div class="currency-chart"></div>
                        <div class="price-container">
                            <div class="price-wrapper">
                                <div class="sell-buy">
                                    <span class="label">SELL</span>
                                    <span>1.07</span>
                                </div>
                                <div class="price">96</div>
                            </div>
                            <div class="price-wrapper">
                                <div class="sell-buy">
                                    <span class="label">BUY</span>
                                    <span>1.07</span>
                                </div>
                                <div class="price">96</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="module" src="forex.js"></script>
</body>
</html>