@font-face {
    font-family: 'Myriad';
    src: url('MyriadPro/MyriadPro-Regular.otf') 
	format('opentype');
    src: url('MyriadPro/MyriadPro-Regular.ttf') 
	format('truetype');
}

body {
    font-size: 0.80rem !important;
    /* font-family: Myriad Pro !important; */
    padding: 0;
    margin: 0;
    /* font-family: myriad-pro, sans-serif; */
    font-family: 'Myriad', Fallback, sans-serif;
    font-style: normal;
    font-weight: 400
}

ul{
    list-style-type: none;
    line-height: 30px;
}

a {
    text-decoration: none;
    color: #324fe1;
}

a:hover {
    text-decoration: underline;
}
a:visited {
    color: #324fe1;
}

.main-wrapper {
    padding: 0;
    margin-top: 10px;
}

.badge {
    font-size: inherit;
}

.bdr-r {
    border-right: 1px #e0e4e9 solid;
}

select, select:focus, select:visited {
    border-radius: 0;
    padding: 5px;
    background-color: #25262A;
    color: #fff;
    border: 1px #fff solid;
    outline: 0;
    font-size: 13px;
    font-family: 'Myriad', Fallback, sans-serif;
}


html {
    padding: 0 15px;
}
body, html {
    background-color: #2F3338;
}
.content-wrapper {
    background-color: #25262A;
    padding: 15px;
    color: #ffffff;
}

.align-right {
    text-align: right;
}


/* Margins */
.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}

button.btn-go {
    background-color: #4CD2D4;
    padding: 5px 8px;
    border: 0;
    outline: 0;
    margin-left: 10px;
    height: 29px;
    font-family: 'Myriad', Fallback, sans-serif;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}
 
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    border-radius: 10px;
    background-color: transparent;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 20px 20px rgba(113,113,113);
    -webkit-box-shadow: inset 0 0 20px 20px rgba(113,113,113);
}