.ag-bl-full-height {
    overflow: hidden;
}

.ag-theme-balham .ag-root-wrapper {
    border: 0;
    border-radius: 0;
}

.ag-theme-balham .ag-header {
    background-color: #fff;
    color: #464e56;
    border-bottom-color: #e6eaef;
}

.ag-theme-balham .symbol-column {
    font-weight: 600;
    background-color: #fff;
}

.ag-theme-balham .ag-root, 
.ag-theme-balham .ag-cell-focus {
    border: 0;
    outline: 0;
}

.ag-theme-balham .ag-ltr .ag-header-cell {
    border: 0;
}

.ag-theme-balham .ag-header-cell, 
.ag-theme-balham .ag-header-select-all {
    line-height: 32px;
}

.ag-theme-balham .ag-header-select-all {
    margin-top: 0;
}

.ag-theme-balham .ag-ltr .ag-cell-no-focus, 
.ag-theme-balham .ag-cell-no-focus {
    border: 0;
}

.ag-theme-balham .ag-row-odd {
    background-color: #f5f5f7;
}

.ag-row {
    border-top: 0 !important;
    border-bottom: 1px #e6eaef solid;
}

.ag-theme-balham .ag-row-hover, 
.ag-theme-balham .ag-row-hover .symbol-column, 
.ag-theme-balham .ag-row-selected, 
.ag-theme-balham .ag-row-selected .symbol-column {
    background-color: #e0f0ff;
    border-bottom-color: #c7e2fe;
}

.ag-theme-balham .ag-icon-checkbox-unchecked,
.ag-theme-balham .ag-icon-checkbox-checked,
.ag-theme-balham .ag-icon-checkbox-indeterminate {
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
}

.ag-theme-balham .ag-cell-not-inline-editing, 
.ag-theme-balham .ag-header-cell {
    padding-left: 15px;
}

.ag-theme-balham .ag-ltr .ag-selection-checkbox,
.ag-theme-balham .ag-ltr .ag-header-select-all {
    margin-right: 7px;
}

.ag-theme-balham .ag-ltr .ag-cell-range-single-cell.ag-cell-range-handle, 
.ag-theme-balham .ag-ltr .ag-has-focus .ag-cell-focus.ag-cell-range-single-cell, 
.ag-theme-balham .ag-ltr .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected), 
.ag-theme-balham .ag-rtl .ag-cell-range-single-cell.ag-cell-range-handle, 
.ag-theme-balham .ag-rtl .ag-has-focus .ag-cell-focus.ag-cell-range-single-cell, 
.ag-theme-balham .ag-rtl .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected) {
    border: 1px transparent solid;
    outline: 1;
}


/* Dark Theme */
.ag-theme-balham .ag-root-wrapper {
    background-color: #2F3338;
}
.ag-theme-balham .ag-header {
    background-color: #2F3338;
    border-bottom-color: #606163;
}
.ag-theme-balham .ag-header-row {
    color: #4CD2D4;
}
.ag-theme-balham .ag-row {
    background-color: #2F3338;
    color: #ffffff;
    border-color: #606163;
}
.ag-theme-balham .ag-row-odd {
    background-color: #343B40;
}
.ag-theme-balham .symbol-column {
    background-color: unset !important;
}
.ag-theme-balham .ag-row-hover, 
.ag-theme-balham .ag-row-hover .symbol-column, 
.ag-theme-balham .ag-row-selected, 
.ag-theme-balham .ag-row-selected .symbol-column {
    border-bottom-color: #606163;
}

.ag-center-cols-viewport {
    overflow: hidden;
}
