.list-group-item {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color:transparent;
    border-bottom-color: #4e5053;
}

.list-item-label {
    color: #ADAEAF;
}

.list-group {
    border-radius: 0;
}

.stock-name {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.price-container {
    margin: 8px 0;
}

.price-container .current-price {
    font-size: 30px;
    font-weight: 700;
}

.price-container .price-change {
    font-size: 20px;
    font-weight: 500;
    color: #00873c;
    margin-left: 7px;
}

.market-info {
    font-size: 12px;
    font-weight: 400;
    color: #ADAEAF;
    margin-top: -7px;
}

.stock-details ul li {
    padding: 2px 0;
}

.sell-short {
    color: #ffffff;
    margin-left: auto;
    display: flex;
    position: relative;
}

.sell-short .label {
    line-height: 30px;
}

.sell-short input {
    margin-left: 10px;
    width: 90px;
}

.option-dropdown {
    position: absolute;
    right: 0;
    bottom: 34px;
    background: #fff;
    color: #212529;
    width: 110px;
}

.option-dropdown li {
    cursor: default;
    font-size: 14px;
    padding: 3px 10px;
}

#sell-short-btn {
    width: 85px;
    text-align: left;
    text-transform: uppercase;
}