body {
    font-size: 0.80rem !important;
    padding: 0;
    margin: 0;
}
ul{
    list-style-type: none;
    line-height: 30px;
}

a {
    text-decoration: none;
    color: #324fe1;
}

a:hover {
    text-decoration: underline;
}
a:visited {
    color: #324fe1;
}

.main-wrapper {
    padding: 0 20px;
    margin-top: 10px;
}

.stock-name-wrapper, 
.watchlist-button {
    display: inline-block;
}

.stock-name-wrapper {
    margin-right: 30px;
}

.add-to-watchlist {
    border: 1px #188fff solid;
    background: none;
    border-radius: 15px;
    padding: 5px 20px;
}

.add-to-watchlist:hover {
    background-color: #188fff;
    color: #ffffff;
}

.stock-name {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.badge {
    font-size: inherit;
}

.price-container {
    margin: 8px 0;
}

.price-container .current-price {
    font-size: 30px;
    font-weight: 700;
}

.price-container .price-change {
    font-size: 20px;
    font-weight: 500;
    color: #00873c;
}

.market-info {
    font-size: 12px;
    font-weight: 400;
    color: #5b636a;
    margin-top: -7px;
}

.stock-details ul li {
    padding: 2px 0;
}

.bdr-r {
    border-right: 1px #e0e4e9 solid;
}

.list-group-item {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}